body {
    font-family: Georgia, times, 'Times New Roman', serif;
    font-size: 100%;
    background-image: url(images/Background.png);
    background-repeat: repeat-y;
    background-color: rgb(19, 20, 20);
}

.TITULO {
    text-align:center;
    color: #ffffff;
    font: bold serif;
    font-size: 400%;
}

.IANews {
    text-align:left;
    height: 200px;
    width: 200px;
}

header {
    background-color: rgb(31, 31, 31);
    padding: 1em;
    margin: 0 0em 2em 0;
}

.Secciones{
    text-align:center;
    color: #ffffff;
    font: bold serif;
    font-size: 200%;
}

.ENCABEZADO {
    background-color: #000000;
}

nav span {
    display: inline-block;
    background-color: #ffffff;
    padding: 10px 40px;
    border-radius: 30px;
    margin: 10px 48px;
    cursor: pointer;
}

.cat {
    text-align: center;
    color: #000000;
    font-family: Tahoma;
    font-size: 150%;
}

nav span:hover {
    color: rgb(0, 117, 150);
    background-color: #878686;
    text-decoration: underline;
}

.container-noticias {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    padding-bottom: 20px;
}

.container-noticias .item {
    color: #e1faff;
    background-color: #0f0f0f;
    max-width: 360px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: .3s;
}

.container-noticias .item:hover {
    box-shadow: 0 0 10px 5px #ffffff;
}

.container-noticias .item:hover h2 {
    text-decoration: underline;
}

.container-noticias .item .info_item {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.container-noticias .item img {
    width: 100%;
}

.container-noticias #btnSiguiente {
    display: inline-block;
    background-color: #84d5e3;
    padding: 10px 95px;
    border-radius: 30px;
    margin: 10px 40px;
    cursor: pointer;
}

.container-noticias #btnSiguiente:hover {
    background-color: #7bacb5;
    text-decoration: underline;
}


.col, .closebtn{
    font:menu;
    color: #ffffff;
}

.sidepanel {
    width: 0;
    position: fixed;
    z-index: 9999999;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidepanel a:hover {
    color: #34b1fa;
}

.sidepanel a.active {
    color: #34b1fa;
}

.sidepanel .closebtn {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.openbtn {
    cursor: pointer;
    background-color: transparent;
    color: rgb(103, 78, 173);
    border: none;
}