/*Generales*/
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 10 10 10 10;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    text-align: left;
    background-color: #05060e;
}

/*-------------------------------------------------------------------- 
Header
---------------------------------------------------------------------*/
header{
    display: flex;
    align-items: center;
}

header button{
    font-weight: bold;
    background-color: transparent;
    outline: none;
    border-radius: 0.5em;
    border: 0.1em solid #fff;
    width: 8em;
    height: 3em;
    color: #fff;
    margin-top: 0.5em;
    margin-left: 85em;
}

/*-------------------------------------------------------------------- 
Barra de navegacion
---------------------------------------------------------------------*/
.sidepanel_btn {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
    margin-left: 2em;
    margin-top: 1.5em;
}

.sidepanel {
    width: 0;
    position: fixed;
    z-index: 9999999;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(9, 9, 14);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 2em;
}

.sidepanel .closebtn {
    margin-left: 8em;
    cursor: pointer;
    position: absolute;
    float: right;
    font-size: 1.5em;
    color: #fff;
    font-weight: bold;
    outline: none;
    border: none;
    background: none;
    transform: translateY(-70%);
}

.sidepanel a {
    padding: 0 0.5em 0.5em 1.5em;
    text-decoration: none;
    font-size: 0.8em;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidepanel a:hover {
    color: #3873a3;
}

.sidepanel a.active {
    color: #3873a3;
}

.openbtn {
    margin-top: 1em;
    margin-left: 1em;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border: none;
}

.nav-bar {
    position: relative;
}

/*-------------------------------------------------------------------- 
Main
---------------------------------------------------------------------*/

.data {
    width: 100%;
    margin-top: 1em;
    padding: 1em 0 0 3em;
    justify-content: center;
    text-align: center;
    align-items: center;
}

h1 {
    font-size: 2em;
    color: #fff;
}

.data h2 {
    font-size: 1em;
    font-weight: lighter;
}

.publish {
    margin-top: 1em;
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.activity {
    margin-right: 1em;
    background: linear-gradient(#080a1b, #111647);
    border-radius: 0.5em;
    padding: 1em;
    width: 25%;
}

.activity .code {
    background-color: rgb(0, 0, 0);
    border-radius: 0.5em;
    padding: 1em;
    font-size: 0.7em;
    overflow: hidden;
    width: 15em;
    height: 6em;
    text-align: left;
}

.activity code {
    color: #63b9ff;
}

.activity p {
    font-size: 0.7em;
    padding-left: 0.5em;
    width: 90%;
    text-align: left;
}

.activity time {
    width: 30%;
    font-size: 0.5em;
    color: #aaa9a9;
    float: right;
    transform: translateY(-190%);
    padding-left: 1em;
}

.activity .visit {
    text-decoration: none;
    width: 30%;
    font-size: 1.5em;
    color: #ffffff;
    float: right;
    padding-left: 1em;
    margin: -2em 1.5em 0 0;
    font-weight: bold;
}

.cursos {
    margin-top: 3em;
    display: flex;
}

.cursos .title {
    width: 40%;
    padding-top: 2em;
    justify-content: center;
    align-items: center;
}

.title h2 {
    font-weight: bold;
    font-size: 3em;
    padding-left: 1.5em;
    margin-bottom: 0;
}

.title .all {
    font-weight: bold;
    background-color: transparent;
    outline: none;
    border-radius: 0.5em;
    border: 0.1em solid #fff;
    width: 8em;
    height: 3em;
    color: #fff;
    margin-left: 4em;
}

.courses {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.course {
    margin: 0 2em 2em 0;
    background: linear-gradient(to right, #440f70, #ac29ac);
    padding: 1em;
    border-radius: 0.5em;
    justify-content: flex-start;
    text-align: left;
}

.course .thumbnail {
    margin: 0;
}

.course .title {
    width: 80%;
    font-size: 0.7em;
    text-align: left;
}

.course .author {
    margin: 1em 0;
    font-size: 0.8em;
}

.continue a {
    cursor: pointer;
    width: 35%;
    text-align: center;
    background-color: transparent;
    border: 1pt solid #fff;
    border-radius: 0.5em;
    padding: 0.5em;
    color: #fff;
    font-size: 0.8em;
    outline: none;
    text-decoration: none;
    float: right;
}