body {
     padding: 10px;
}

.carousel {
     position: relative;
     width: auto;
     height: 400px;
     padding: 10px 40px;
     border: 1px solid black;  
     border-radius: 15px;
     background: black;
}

.carousel iframe {
     width: 560px;
     height: 315px;
     /* establecer block para remover el espacio alrededor de las imágenes */
     display: block;
}

.arrow {
     position: absolute;
     top: 200px;
     padding: 0;
     background: #ffb7f7;
     border-radius: 15px;
     border: none;
     font-size: 24px;
     line-height: 24px;
     color: #333333;
     display: block;
}

.arrow:focus {
     outline: none;
}

.arrow:hover {
     background: #ccc;
     cursor: pointer;
}

.prev {
     left: 7px;
}

.next {
     right: 7px;
}

.gallery {
     width: 560px;
     overflow: hidden;
}

.gallery ul {
     height: 315px;
     width: 9999px;
     margin: 0;
     padding: 0;
     list-style: none;
     transition: margin-left 250ms;
     /* eliminando los espacios en blanco entre los li inline-block'ed */
     /* http://davidwalsh.name/remove-whitespace-inline-block */
     font-size: 0;
}

.gallery li {
     display: inline-block;
}